*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: white;
}
body{
    background-color: black;
}
.card-container{
    height: 500px;
    width: 500px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
}

img{
    width: 300px;
    height: 300px;
    border-radius:10px ;
}
.text{
    color: white;
    padding: 10px;

}