.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-auto-rows: 150px;
    gap: 20px;

}
h1{
    text-align: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 10px;
    

}

.box-1{
    grid-column: 1 / 10;
    background-color: red;
}

.box-2{
    grid-row: 2/5;
    background-color: aqua;

}
.box-3{
    grid-column: 2/9;
    grid-row: 2/5;
    background-color: green;

}
.box-4{
    grid-row: 2/5;
    background-color: blue;
}
.box-5{
    grid-column: 1/10;
    background-color:violet;
}