*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.major{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
h1{
    text-align: center;
    color: rgb(238, 238, 55);
    font-size: 2rem;
    margin: 30px;
}
.upper{
    display: flex;
    height: 300px;
    width: 800px;
    margin: auto;
}
.image{
    height: 300px;
    width: 300px;

}
img{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    
}
.text{
    color: white;
    width: 500px;
    padding: 50px;

}
.text p{
    font-size: 1.5rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container a{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container div{
    width: 300px;
    height: 100px;
    background-color: hsl(60, 84%, 57%);
    margin: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container div:hover{
    transform: translateY(-10px);  
    box-shadow: 0 10px 25px rgba(255,255,255,0.3);
}
